!important .calc-notifications__pay[data-v-3d2b0f63] {
  background: #f6f6f6;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  height: 42px;
  justify-content: space-between;
  line-height: 14px;
  margin-top: 10px;
  padding: 0 10px;
}

.calc-notifications__pay[data-v-3d2b0f63],
.calc-notifications__pay-business[data-v-3d2b0f63] {
  align-items: center;
  display: flex;
}

.calc-notifications__pay-business span[data-v-3d2b0f63] {
  line-height: 1px;
}

.calc-notifications__pay p[data-v-3d2b0f63] {
  margin-top: 0 !important;
}

.calc-notifications__hint[data-v-3d2b0f63] {
  color: #7f7f7f;
  font-size: 14px;
  line-height: 14px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.calc-notifications .text-bold[data-v-3d2b0f63] {
  font-weight: 700;
}

.aside[data-v-7cd2f46f] {
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: sticky;
  top: 50px;
  z-index: 3;
}

.aside .guests-hint[data-v-7cd2f46f] {
  background: #fff6c4;
  margin-top: 20px;
  padding: 10px;
}

.aside__banner[data-v-7cd2f46f] {
  margin: 20px 0;
}

.aside__error[data-v-7cd2f46f] {
  background: #fdd2d2;
  color: #e10600;
  font-size: 13px;
  line-height: 17px;
  padding: 10px 10px 10px 36px;
  position: relative;
  width: 100%;
}

.aside__options[data-v-7cd2f46f] {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 7px;
  padding-top: 41px;
}

.aside__options.no-title[data-v-7cd2f46f] {
  padding-top: 5px;
}

.aside__options .options__item[data-v-7cd2f46f] {
  cursor: pointer;
  display: flex;
  height: 42px;
  margin-right: 10px;
  transition: width 0.3s;
  width: 137px;
}

.aside__options .options__item_favorite[data-v-7cd2f46f] {
  margin-right: 2px;
  padding: 10px 0 10px 9px;
}

.aside__options .options__item_favorite[data-v-7cd2f46f] .options__text {
  padding-top: 2px;
}

.aside__options .options__item_share[data-v-7cd2f46f] {
  padding: 13px;
}

.aside__options .options__item_share .options__text[data-v-7cd2f46f] {
  margin-top: -1px;
}

.aside__options .options__item .options__text[data-v-7cd2f46f],
.aside__options .options__item[data-v-7cd2f46f] .options__text {
  animation: display-none-transition-7cd2f46f 0.2s 0.2s both;
  display: block;
}

.aside__options .options__item.show .icon-app-share-simple[data-v-7cd2f46f],
.aside__options .options__item.show[data-v-7cd2f46f] .icon-app-heart,
.aside__options .options__item:hover .icon-app-share-simple[data-v-7cd2f46f],
.aside__options .options__item[data-v-7cd2f46f]:hover .icon-app-heart {
  color: #f51449;
}

.aside__options .options__item[data-v-7cd2f46f]:last-child {
  margin-right: 0;
  width: 122px;
}

.aside__options .options__item .icon-app-share-simple[data-v-7cd2f46f],
.aside__options .options__item[data-v-7cd2f46f] .icon-app-heart {
  color: #000;
}

.aside__options .options__item .icon-app-share-simple[data-v-7cd2f46f] {
  font-size: 16px;
}

@keyframes display-none-transition-7cd2f46f {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.aside__options .options__text[data-v-7cd2f46f],
.aside__options[data-v-7cd2f46f] .options__text {
  display: none;
  margin-left: 10px;
  white-space: nowrap;
}

.aside__wrap[data-v-7cd2f46f] {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}

.aside__wrap[data-v-7cd2f46f] .booking__button {
  border-radius: 0 0 8px 8px;
}

.aside[data-v-7cd2f46f] .sc-datepickerext-wrapper {
  right: 0;
  top: calc(100% + 4px);
}

.aside__dates[data-v-7cd2f46f] {
  display: flex;
  position: relative;
}

.aside__dates .dates__item[data-v-7cd2f46f] {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  cursor: pointer;
  line-height: normal;
  margin-left: 10px;
  padding: 11px 15px;
  position: relative;
  transition: 0.3s;
  width: 50%;
}

.aside__dates .dates__item_current[data-v-7cd2f46f] {
  border: 1px solid #e10600;
}

.aside__dates .dates__item[data-v-7cd2f46f]:first-child {
  margin-left: 0;
}

.aside__dates .dates__item&gt;
span[data-v-7cd2f46f] {
  pointer-events: none;
}

.aside__dates .dates__default[data-v-7cd2f46f] {
  color: #717171;
}

.aside__guests[data-v-7cd2f46f] {
  margin-top: 10px;
}

.aside__calculate[data-v-7cd2f46f] {
  margin-top: 20px;
}

@media screen and (max-width: 359px) {
  .aside__dates .dates__item_in .sc-datepickerext-wrapper[data-v-7cd2f46f] {
    right: -159px;
  }

  .aside__dates .dates__item_out .sc-datepickerext-wrapper[data-v-7cd2f46f] {
    right: -24px;
  }
}

@media screen and (min-width: 360px) and (max-width: 659px) {
  .aside__dates .dates__item_in .sc-datepickerext-wrapper[data-v-7cd2f46f] {
    left: 0;
    right: auto;
  }

  .aside__dates .dates__item_out .sc-datepickerext-wrapper[data-v-7cd2f46f] {
    right: 0;
  }
}

@media screen and (min-width: 650px) and (max-width: 767px) {
  .aside__dates .dates__item_in .sc-datepickerext-wrapper[data-v-7cd2f46f],
  .aside__dates .dates__item_out .sc-datepickerext-wrapper[data-v-7cd2f46f] {
    right: 0;
  }
}
.select-guests[data-v-1cfc4c19],
.select-guests--btn[data-v-1cfc4c19] {
  position: relative;
  width: 100%;
}

.select-guests--btn[data-v-1cfc4c19] {
  align-items: flex-start;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #fff;
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 48px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  min-width: 264px;
  outline-style: none;
  padding: 12px 46px 12px 15px;
  transition: box-shadow 0.3s;
  white-space: nowrap;
  border-radius: 3px;
  color: var(--basic_text_black);
  box-shadow: none;
  border: 1px solid #ddd;
  border: 1px solid var(--stroke_black);
  height: 48px;
  padding: 6px 12px;
  background: #f8f8f8;
  background: var(--darkerblack_bg_black);
  transition: background ease-in-out 0.3s;
}

.select-guests--btn .body[data-v-1cfc4c19] {
  text-align: left;
  width: 100%;
}

.select-guests--btn .body span.empty[data-v-1cfc4c19] {
  color: #717171;
  padding-right: 10px;
}

.select-guests--btn.active-simple .ico-arrow[data-v-1cfc4c19] {
  transform: translateY(-50%) scaleY(-1);
}

.select-guests--btn .ico-arrow[data-v-1cfc4c19] {
  font-size: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}

.select-guests--btn.active[data-v-1cfc4c19] {
  box-shadow: inset 0 0 0 1px #f51449;
}

.select-guests--btn.page-inner[data-v-1cfc4c19] {
  flex-direction: row;
  justify-content: flex-start;
  line-height: 36px;
}
.aside__calculate .btn-default {
  display: block;
  width: 100%;
}
.aside__wrap {
  max-width: 660px;
  width: 100%;
  margin: auto;
}

.select-guests__popup .select-guests__main-wrapper[data-v-a96f417a] {
  padding-bottom: 30px;
}

.view-price__value[data-v-a49f3450] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.view-price__meals[data-v-a49f3450] {
  border: 1px solid #0659ff;
  border-radius: 20px;
  color: #0659ff;
  font-size: 9px;
  margin-right: 10px;
  padding: 3px 10px;
  text-align: center;
}

.view-price__calc[data-v-a49f3450] {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.view-price__calc_sale[data-v-a49f3450] {
  position: relative;
}
.card-price__calc {
  margin-bottom: 20px;
}
.catalog-block__info-section {
  display: none !important;
}
.catalog-items .catalog-block__info {
  margin-top: 15px;
}

.catalog-items .catalog-block__info-title span {
  font-weight: 700;
  font-size: 18px;
}

.textlink {
  color: var(--theme-base-color);
  font-size: calc(0.8667em - var(--theme-button-font-size));
  line-height: calc(1em + 3px);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}
.catalogparams {
  margin: 15px 0;
}
.catalogparams__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.catalogparams__item {
  font-size: 11px;
  color: #555;
  line-height: 1;
}
.catalogpricesblock {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
  line-height: 1;
}
.catalogpricesblock__old {
  text-decoration: line-through;
  font-size: 14px;
  white-space: nowrap;
  line-height: 1;
}
.catalogpricesblock__current {
  font-weight: 600;
  font-size: 23px;
  white-space: nowrap;
  line-height: 1;
}
.catalogpricesblock__text {
  font-size: 12px;
  white-space: nowrap;
  line-height: 1;
}
.catalogpricesblock {
  margin: 8px 0 4px 0;
}
.catalog-block__item .catalog-block__item--img-corner {
  margin: -22px -22px 0px;
}
.catalog-block__item {
  padding: 22px 22px 22px;
}

.catalogpricesutochno {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 4px 0 8px 0;
  justify-content: center;
  color: #333;
}
.catalogpricesutochno__text {
  font-size: 13px;
  white-space: nowrap;
}
.catalogpricesutochno__value {
  font-size: 14px;
  font-weight: 600;
  color: var(--theme-base-color);
  white-space: nowrap;
}
.catalogpricesutochno__info {
  line-height: 1;
}
.catalogpricesutochno__info svg {
  width: 16px;
  height: 16px;
}

.btn-search-main.disabled {
  cursor: pointer;
  background-attachment: #bbb;
}

.has-long-banner .page-top-wrapper.detailh1 {
  /*  position: absolute; */
  left: 0px;
  right: 0px;
  z-index: 3;
  bottom: 52px;
  text-align: left;
}
.has-long-banner .page-top-wrapper.detailh1 h1 {
  color: #fff;
}
.catalog-detail__right-info .catalogpricesblock {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.catalog-detail__right-info .catalogpricesblock__old {
  width: 100%;
  font-size: 16px;
  margin-bottom: 5px;
}
.catalog-detail__right-info .catalogpricesblock__current {
  font-size: 32px;
}
.catalog-detail__right-info .catalogpricesblock__text {
  font-size: 18px;
}
.catalog-detail__right-info .catalogpricesutochno {
  justify-content: flex-start;
  margin-top: 4px;
}
.catalog-detail__right-info .catalogpricesutochno__value {
  font-size: 18px;
}
.catalog-detail__right-info .catalogpricesutochno__text {
  font-size: 16px;
}
.catalog-detail__right-info .line-block > .line-block__item {
  width: 100%;
}

.filter-panel__view.controls-linecount.controls-view,
.filter-panel__view.controls-view {
  display: none;
}
span.status-icon.instock.js-replace-status {
  display: none;
}

.buy_block .btn.btn-default {
  background-color: var(--theme-base-color);
  color: #fff;
}

.buy_block .btn.btn-default:hover {
  background-color: #fff;
  color: var(--theme-base-color);
}

.has-long-banner .page-top-wrapper {
  position: static;
}
.detail.element_4 .gallery-mosaic img {
  object-fit: cover;
  object-position: center;
}
.line-block__item.js-popup-price span {
  display: block;
  line-height: 1.2;
  margin-bottom: 10px;
}

.has-long-banner .page-top-info {
  margin-bottom: 0 !important;
}
.catalog_page > br {
  display: none;
}

.banners-big__inner .banners-big__title--large {
  font-size: 50px;
}

.search-widget select {
  border-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@media (max-width: 1023px) {
  .catalogpricesblock__current {
    font-size: 20px;
  }
  .catalogpricesblock__old {
    font-size: 13px;
  }
  .catalog-items .catalog-block__info-title {
    line-height: 1.2;
  }
  .catalog-items .catalog-block__info-title span {
    font-size: 16px;
    line-height: 1.2;
  }
  .catalogpricesblock {
    flex-wrap: wrap;
  }
  .catalogpricesblock__text {
    width: 100%;
  }
  #main .mobile-offset {
    margin: 0 !important;
  }

  .line-block--48 {
    margin: 0 !important;
  }
  .catalog-block__inner .properties-absolute-outer {
    padding-top: 0 !important;
  }
  .has-long-banner .page-top-info {
    padding-top: 79%;
    min-height: 429px;
  }
  .has-long-banner .search-widget[data-v-7c2b7dcd] {
    transform: translateY(-100%);
    top: -255px;
  }
  .has-long-banner .page-top-wrapper.detailh1 h1 {
    font-size: 28px;
  }
  .buy_block .btn.btn-default {
    background-color: #fff;
    color: var(--theme-base-color);
  }
  .catalog-items .catalog-block__info {
    flex: unset;
    height: 100%;
  }
  .catalog-block__info-bottom {
    margin-top: 10px;
  }
  .grid-list.grid-list--compact
    .js-popup-block.catalog-block__item
    .catalog-block__item--img-corner {
    margin: -10px -10px 0px;
  }
  .grid-list.grid-list--compact .js-popup-block,
  .owl-carousel .catalog-block__item {
    padding: 10px;
  }
  #main .grid-list.grid-list--compact .grid-list-border-outer {
    margin-bottom: 12px;
  }
  .line-block__item.js-popup-price span {
    font-size: 12px;
    display: block;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .has-long-banner .page-top-wrapper.detailh1 {
    display: none;
  }
  .has-long-banner .page-top-info {
    padding-top: 0;
  }
  .detail-image--top_on_head .detail-image__fon {
    position: static !important;
  }
  .catalog-detail .catalog-detail__main {
    padding-bottom: 10px;
  }
}

.map-detail-items__item-buttons {
  display: none !important;
}
button.ui-button.red.btn-search-main.disabled {
  background-color: #c8e265 !important;
  opacity: 1 !important;
  cursor: pointer;
}
button.select-guests--btn {
  font-size: 14px;
}

.search-widget-field--occupied__in .title,
.search-widget-field--occupied__out .title {
  text-align: left;
}
.search-widget select {
  padding: 0;
  margin-left: -4px;
}

.search-widget-field--occupied__in .date,
.search-widget-field--occupied__out .date {
  text-align: left;
}
.select-apartment-guest.search-widget-field--guest {
  border-right: 1px solid #ececec;
}
.search-widget-field--occupied__in {
  padding-left: 8px;
}
.banners-big__title.switcher-title.banners-big__title--middle {
  margin-top: -100px;
}
.banners-big__text-block--margin-top-more {
  margin-top: 0;
}
.index-block .banners-big__title--middle {
  font-size: 37px;
}
.guests-counter__text span[data-v-7f537561],
.add-child__text strong[data-v-d1e9d8f0],
.guests-counter__text strong[data-v-7f537561] {
  text-align: left;
  font-size: 14px;
  line-height: 16px;
}
span.pets-text {
  font-size: 14px;
}
hr[data-v-9af400c4] {
  margin: 5px 0;
  width: 100%;
}
.search-widget-field__right {
  margin-bottom: 0 !important;
}
.guests-counter__value[data-v-7f537561] {
  color: #000;
}
.breadcrumbs__item,
.breadcrumbs__separator {
  display: none !important;
}
div#bx_breadcrumb_0 .breadcrumbs__link:before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path class="cls-1" d="M11.717,90.686a1.008,1.008,0,0,1-1.425,0L7,87.394V99a1,1,0,0,1-2,0V87.394L1.708,90.686A1.008,1.008,0,0,1,.283,89.26L5.26,84.283a0.92,0.92,0,0,1,.251-0.131,0.987,0.987,0,0,1,.2-0.1,0.919,0.919,0,0,1,.172-0.033,0.989,0.989,0,0,1,.861.266l4.977,4.977A1.008,1.008,0,0,1,11.717,90.686Z"/><path data-name="Arrow" class="cls-2" d="M11.686,6.686a1.008,1.008,0,0,1-1.425,0L7,3.425V15a1,1,0,0,1-2,0V3.394L1.708,6.686A1.008,1.008,0,0,1,.283,5.26L5.26,0.283A0.892,0.892,0,0,1,5.366.228,0.981,0.981,0,0,1,5.726.04,0.919,0.919,0,0,1,5.86.014a0.981,0.981,0,0,1,.706.174C6.589,0.2,6.615.217,6.637,0.236s0.05,0.026.071,0.047L11.686,5.26A1.008,1.008,0,0,1,11.686,6.686Z"/></svg>');
  transform: rotate(-90deg);
  
}
div#bx_breadcrumb_0 {
  display: block !important;
}
div#bx_breadcrumb_0  .breadcrumbs__link {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
div#bx_breadcrumb_0 {
  display: flex !important;
  align-items: center;
  gap: 8px;
  position: relative;
}
span.breadcrumbs__item-name.font_13 {
  text-decoration: underline;
}
@media (max-width: 767px) {
  hr[data-v-9af400c4] {
    transform: none;
  }
  .banners-big--adaptive-1 .banners-big__text-block {
    overflow: visible !important;
  }
  .search-widget-field__right {
    position: static;
  }
  .search-widget-field__right[data-v-7c2b7dcd] {
    padding-right: 0;
  }
  .search-widget-field--occupied__in {
    width: 50%;
  }
  .search-widget-field--occupied__out {
    padding-right: 12px;
  }
  .dpicker__wrapper {
    padding-right: 0;
  }
  .search-widget-field--occupied__in {
    padding-left: 12px;
  }
  .banners-big__title.switcher-title.banners-big__title--middle {
    margin-top: 0;
  }
  .search-widget select {
    font-size: 13px;
  }

  .search-widget-field--guest[data-v-7c2b7dcd] {
    padding-left: 12px;
    padding-right: 12px;
  }

  .top_slider_wrapp .select-guests__main-wrapper[data-v-a96f417a] {
    padding: 15px 20px 5px;
  }

  .top_slider_wrapp .button-wrapper[data-v-a96f417a] {
    border-radius: 0;
  }

  .top_slider_wrapp .button-wrapper[data-v-a96f417a] {
    position: static;
  }

  button.ui-button.red.btn-search-main.disabled {
    opacity: 1;
  }

  .top_slider_wrapp
    .main-slider
    .main-slider__wrapper
    .main-slider__item
    .text {
    padding: 20px 0;
  }

  .select-guests.search-widget-field--guest {
    padding-left: 12px;
  }

  .search-widget[data-v-7c2b7dcd] {
    margin-left: 0;
    margin-right: 0;
  }

  body .top_slider_wrapp .main-slider__item td.text * {
    text-align: left;
  }

  .dpicker__wrapper {
    padding-left: 0;
  }
  .index-block
    .banners-big__text--wide.banners-big__text--center
    .banners-big__text-wrapper {
    width: 100%;
  }
  .select-apartment-guest.search-widget-field--guest {
    border-right: 1px solid #ccc;
}
    .select-apartment-guest.search-widget-field--guest, .dpicker__wrapper, .select-guests.search-widget-field--guest {
        border: 1px solid #ccc;
    }
    body:not(.has-long-banner) .page-top-wrapper--grey {
        margin-bottom: 0 !important;
    }
    .page-top-wrapper--top-breadcrumb section.page-top {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .topic__heading {
        margin-top: 10px;
    }
    #main .mobile-offset {
        padding: 0 0 5px 0!important;
    }
    body .filter-panel {
        margin-bottom: 8px;
    }
    .top-content-block>div {
        margin-bottom: 10px !important;
    }
    .has-long-banner .page-top-info h1#pagetitle {
        margin-top: 20px;
        font-size: 24px;
    }
    span.breadcrumbs__item-name.font_13 {
    font-size: 10px;
}
.has-long-banner .page-top-info {
    min-height: unset;
}
.search-widget {
    padding: 0 10px;
}
.index-block .search-widget {
    padding: 0;
}

}
